<% include header %>

<span class="header"><h1><span class="headerBGColor"><%= %> Profile</span></h1></span>
<div class="row">
    <div class="col-lg-12">
        <div id="content">
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a href="#red" data-toggle="tab" id="first_name"></a></li>
                <li><a href="#blue" data-toggle="tab">Edit Profile</a></li>
            </ul>
            <div id="my-tab-content" class="tab-content">
                <div class="tab-pane active" id="red">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="text-center">
                            <img src="" class="avatar img-circle img-thumbnail" alt="avatar">
                            <h3 id="full_name"></h3>
                            <div class="profileInfo">
                                <span class="profileStuff">City: </span><span id="city"></span><br>
                                <span class="profileStuff">Country: </span><span id="country"></span><br>
                                <span class="profileStuff">Email: </span><span id="email"><%=user.email%></span><br>
                                <span class="profileStuff">Bio: </span><span id="bio"><%=user.description%></span><br>
                                <a class="profileStuff" href="" id="permalink_url">SoundCloud Profile <i class="fa fa-soundcloud fa-lg"></i></a>
                            </div>
                        </div>
                    </div>


                <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
                    <% if ( sessionFlash && sessionFlash.message) { %>

                    <div class="alert alert-<%= sessionFlash.type %> alert-dismissable">
                        <a class="panel-close close" data-dismiss="alert">×</a>
                        <%= sessionFlash.message %>
                    </div>
                    <% } %>
                    <h3>Playlists</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Playlist</th>
                            <th>Mood</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% if (playlists.length > 0) { %>
                        <% playlists.forEach(function(playlist) { %>
                        <tr>
                            <td><%= playlist.playlist_name %></td>
                            <td><%- playlist.playlist_url %></td>
                        </tr>
                        <% }); %>
                        <% } else { %>
                        You have no playlists! <a href="/playlist">Create a playlist!</a><%
                        }%>

                        </tbody>
                    </table>

                </div>
                </div>


<%include editprofile %>


